<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.Xrm.Client" version="5.0.13" targetFramework="net45" />
  <package id="Microsoft.Xrm.Sdk" version="5.0.13" targetFramework="net45" />
  <package id="Microsoft.Xrm.Sdk.Deployment" version="5.0.13" targetFramework="net45" />
</packages>